<app-toolbar>
  <a mat-button slot="end" routerLink="/list">created tasks</a>
</app-toolbar>

<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveTask(taskForm)" #taskForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Task Name"
        [ngModel]="task?.title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a task name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="10"
        name="content"
        placeholder="Description"
        [ngModel]="task?.content"
        required
        #content="ngModel"
      >
      </textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter the content of the task</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save task</button>
  </form>
</mat-card>
